.game-start, .game-result {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    align-self: center;
    gap: 48px;

    & img {
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        padding: 24px;
        background: white;
        border-radius: 50%;
    }
}

@media (min-width: 480px) {
    .game-start, .game-result {
        display: flex;
        /* justify-content: space-between; */
        flex-direction: row;
        margin-top: 128px;
    }

    .game-result {
        margin-top: 8px;
    }
}

.selection-label {
    margin-bottom: 16px;
}

.game-result-label {
    margin-top: 32px;
    margin-bottom: 8px;
}

/* .game-result {
    display: flex;
    justify-content: space-around;

    .selection-label {
        margin-bottom: 12px
    }

    & img {
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        padding: 24px;
        background: white;
        border-radius: 50%;
    }
} */

.play-again {
    display: flex;
    align-self: center;
    justify-content: center;
    width: 50%;
    margin-top: 24px;
    margin-bottom: 24px;
}

